@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --heading-font: "Roboto", "Josefin Sans";
    --paragraph-font: Inter, "Roboto Condensed";
}

#content {
    max-width: 1600px;
    margin: 0 auto;

}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;

}

nav a {
    text-align: center;
    color: #00158F;
    text-decoration: none;
    padding: 35px;

}

nav a:hover {
    background-color: #28536B;
    color: #ffd400
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


.mt-50 {
    margin-top: 50px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;

}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

body {
    background-color: #b6b6b6cb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background: #A4243B;
    display: grid;
    grid-template-columns: 150px auto;


}

.blockchild{
    flex-basis: 100%;
}
.logo {
    width: 80px;

}

#blocks{
        display: flex;
        gap: 8%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    background-color: #0d9c49;
    text-decoration: none;
}

footer a:hover {
    background-color: #0d9c49;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    background-color: #A4243B;
    text-decoration: underline;
}






@media screen and (max-width: 900px) {

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }




    #background {
        display: none;
    }



    footer {
        margin-top: 25px;
    }
}

/*----------------------------------------------------------------------------------------------------------*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 6px solid rgb(108, 131, 158);
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}